tbody {
  
  height:350px;
  overflow:auto;
  position: relative;
}
thead, tbody tr {
  
  width:100%;
  /* even columns width , fix width of table too*/
 
  position: relative;
}
thead {
  width: calc( 100% - 1em );/* scrollbar is average 1em/16px width, remove it from thead width */
}
table {
  width:100%;
  table-layout:auto;
  text-align:center;
    vertical-align:middle;
}
table.c {
  table-layout: auto;
  width: 100%;  
}
th{
  background: darkgrey;
  position: sticky;
  border-color: black;
  top: 0;
  text-align:center;
  vertical-align:middle;
}