@import url(fonts/thsarabunnew.css);

body {
    font-family: 'THSarabunNew', sans-serif;
  }
  
  #regist_form {
    background: #fff;
    text-align: center;
    padding:2rem 0;
    width: 37%;
    margin: 100px auto;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3);
    border-radius: 1rem;
  }
  #regist_form h1 {
    text-align: center;
  }
  #regist_form p {
    margin: 0 0 3em 0;
    position: relative;
  }
  #regist_form input {
    width: 80%;
    height: 32px;
    padding: 4px;
    font-size: 1.1rem;
    border: none;
    border-bottom: 2px solid #cccccc;
    margin: 5px 10px;
  }
 #reg_btn {
   height: 35px;
   width: 80%;
   margin: 1rem 10%;
   color: white;
   background: #65cc61;
   border: none;
   border-radius: 5px;
   cursor: pointer;
 }

 #uerr{
  width: 80%;
  height: 35px;
  margin: 3px 10%;
  font-size: 1.1rem;
  color: red;
 }
 #emailerr{
  width: 80%;
  height: 35px;
  margin: 3px 10%;
  font-size: 1.1rem;
  color: red;
 }
 .form_error span {
   width: 80%;
   height: 35px;
   margin: 3px 10%;
   font-size: 1.1rem;
   color: red;
 }
 .form_error input {
  border: red 1px solid;
}
.form_success span {
  width: 80%;
  height: 35px;
  margin: 3px 10%;
  font-size: 1.1rem;
  color: green;
}
.form_success input {
  border: green 1px solid;
}

#error_msg {
  color: red;
  text-align: center;
  margin: 10px auto;
}