thead, tbody { display: block; }
table tbody {
    height: 200px;       /* Just for the demo          */
    overflow-y: auto;    /* Trigger vertical scroll    */
    overflow-x: hidden;  /* Hide the horizontal scroll */
  }
th
{
    text-align:center;
    vertical-align:middle;
}
td
{
    text-align:center;
    vertical-align:middle;
}
.widea{
    width: 200px;

}
.wideb{
    width: 300px;
}
.widec{
    width: 100px;
}
.wided{
    width: 50px;

}

