thead, tbody { display: block; }
table tbody {
    height: 250px;       
    overflow-y: auto;    
    overflow-x: hidden;  
    width: calc(100% + 16px);
    
  }
th
{
    text-align:center;
    vertical-align:middle;
    width: calc(100% - 16px);
}
td
{
    text-align:center;
    vertical-align:middle;
    width: calc(100% - 16px);
}
.widea{
    width: 200px;

}
.wideb{
    width: 300px;
}
.widec{
    width: 100px;
}
.wided{
    width: 50px;

}

